$purple: #6F43A4;
$orange: #F6820C;

@mixin noSelect {
    user-select: none;
}

::selection {
    background: black !important;
    color: white !important;
}

nav {
    background-color: $purple;
}

.card {
    .timg {
        height: 350px !important;
    }
    .card-image {
        width: 250px !important;
        margin: auto;
        img {
            transform: translateY(5px);
        }
        span {
            font-weight: bold;
            font-size: 20pt;
            @include noSelect;
            color: white;
            -webkit-text-stroke: 1.5px black;
        }
    }
    .card-action {
        a {
            font-weight: bold;
        }
    }
}
.projects {
    h1 {
        color: $purple;
    }
    a {
        color: $purple !important;
    }
    blockquote {
        border-color: $purple;
    }
}
.trouble {
    h1 {
        color: $orange;
    }
    a {
        color: $orange !important;
    }
    blockquote {
        border-color: $orange;
    }
}

.card-action {
    a {
        transition: all 0.25s ease !important;
        &:hover {
            filter: brightness(1.25);
        }
    }
}
