$blue: #4285f4;
$purp: #6f43a4;

@mixin noSelect {
    user-select: none;
}

::selection {
    background: black !important;
    color: white !important;
}

nav {
    background-color: $purp;
}

.card {
    .card-image {
        width: 250px !important;
        margin: auto;
        img {
            transform: translateY(5px);
        }
        span {
            font-weight: bold;
            font-size: 20pt;
            @include noSelect;
            color: white;
            -webkit-text-stroke: 1.5px black;
        }
    }
    .card-action {
        a {
            color: $purp !important;
            font-weight: bold;
        }
    }
}
blockquote {
    border-color: $purp;
}
