* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#trouble { 
    color: blue;
    text-decoration: none;
    text-align: end;
}

.title {
    width: 100%;
    text-align: center;
    font-size: 5vw;
}

#maintitle {
    font-weight: 300;
}

#projectstitle {
    font-size: 4vw;
    font-weight: 700;
}

.parent>*, .parent>*>*>img {
    margin-top: 2.5vh;
}

.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.parent>* {
    width: 275px;
    height: 500px;
    background: #D3D3D3;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 5px #3E3E3E;
    transition: box-shadow 0.25s ease;
}

.parent>*:hover {
    box-shadow: 0 0 25px #3E3E3E;
}

.parent>*>*>img {
    border-radius: 15px;
}

.parent>*>*>img {
    box-shadow: 0 0 5px #3E3E3E;
    transition: box-shadow 0.25s ease;
}

.loader {
    z-index: 1;
    display: none;
}

/************************************************/



@keyframes loader {
     0%, 10%, 100% {
         width: 80px;
         height: 80px;
    }
     65% {
         width: 150px;
         height: 150px;
    }
}
 @keyframes loaderBlock {
     0%, 30% {
         transform: rotate(0);
    }
     55% {
         background-color: #f37272;
    }
     100% {
         transform: rotate(90deg);
    }
}
 @keyframes loaderBlockInverse {
     0%, 20% {
         transform: rotate(0);
    }
     55% {
         background-color: #f37272;
    }
     100% {
         transform: rotate(-90deg);
    }
}
 .loader {
     position: absolute;
     top: 50%;
     left: 50%;
     width: 80px;
     height: 80px;
     transform: translate(-50%, -50%) rotate(45deg) translate3d(0, 0, 0);
     animation: loader 1.2s infinite ease-in-out;
}
 .loader span {
     position: absolute;
     display: block;
     width: 40px;
     height: 40px;
     background-color: #ee4040;
     animation: loaderBlock 1.2s infinite ease-in-out both;
}
 .loader span:nth-child(1) {
     top: 0;
     left: 0;
}
 .loader span:nth-child(2) {
     top: 0;
     right: 0;
     animation: loaderBlockInverse 1.2s infinite ease-in-out both;
}
 .loader span:nth-child(3) {
     bottom: 0;
     left: 0;
     animation: loaderBlockInverse 1.2s infinite ease-in-out both;
}
 .loader span:nth-child(4) {
     bottom: 0;
     right: 0;
}
 body {
     background-color: #ffffff;
}
