$gblue: #4285F4;
$gred: #DB4437;
$gyellow: #F4B400;
$ggreen: #0F9D58;
$black: #333;
$darkgrey: #555;
$grey: #777;
$lightgrey: rgb(228,228,228);
$white: #EEE;

$bradius: 3px;

::selection {
    color: $gblue;
    background: $white;
}

body {
    background-color: $white;
    color: $white;
}


* {
    color: $black;
}

.result,
.notext {
    overflow-y: auto !important;
    height: 12vh !important;
}
.result {
    word-wrap: break-word !important;
}


#alert {
    padding: 20px;
    background-color: $ggreen;
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1;
    border-radius: $bradius;
    cursor: pointer;
    .alerttxt {
        color: $white !important;
    }
}

/* width */
::-webkit-scrollbar {
    width: 7.5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: $white;
    border-radius: $bradius;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $grey;
    border-radius: $bradius;
    &:hover {
        background: $darkgrey;
    }
}


.input-blue input[type]:focus:not([readonly]),
.input-blue textarea:not([readonly]),
.input-blue textarea:focus:not([readonly]) {
    border-bottom: 1px solid $gblue;
    box-shadow: 0 1px 0 0 $gblue;
}

/* Inactive/Active Default input label color */
.input-blue input[type]:focus:not([readonly]) + label,
.input-blue textarea:focus:not([readonly]) + label {
    color: $gblue;
}

/* Active/Inactive Invalid input field colors */
.input-blue input[type].invalid,
.input-blue input[type].invalid:focus,
.input-blue textarea.invalid,
.input-blue textarea.invalid:focus {
    border-bottom: 1px solid $gred;
    box-shadow: 0 1px 0 0 $gred;
}

/* Active/Inactive Invalid input label color */
.input-blue input[type].invalid:focus + label,
.input-blue input[type].invalid ~ .helper-text::after,
.input-blue input[type].invalid:focus ~ .helper-text::after,
.input-blue textarea.invalid:focus + label,
.input-blue textarea.invalid ~ .helper-text::after,
.input-blue textarea.invalid:focus ~ .helper-text::after {
    color: $gred;
}

/* Active/Inactive Valid input field color */
.input-blue input[type].valid,
.input-blue input[type].valid:focus,
.input-blue textarea.valid,
.input-blue textarea.valid:focus {
    border-bottom: 1px solid $gblue;
    box-shadow: 0 1px 0 0 $gblue;
}

/* Active/Inactive Valid input label color */
.input-blue input[type].valid:focus + label,
.input-blue input[type].valid ~ .helper-text::after,
.input-blue input[type].valid:focus ~ .helper-text::after,
.input-blue textarea.valid:focus + label,
.input-blue textarea.valid ~ .helper-text::after,
.input-blue textarea.valid:focus ~ .helper-text::after {
    color: $gblue;
}
