<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Materialize CSS and Material Theme Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" rel="stylesheet" />
    <!--styles.min.css-->
    <link rel="stylesheet" href="styles.min.css">
    <link rel="shortcut icon" href="bird.svg" type="image/x-icon">
    <title>Kuş Dili</title>
</head>

<body>
    <div class="container" id="root">
        <div class="row">
            <h2 class="center-align" v-bind:title="'Kuş dili çevirmeni'">Kuş dili çevirmeni</h2>
        </div>
        <div class="row">
            <img class="center-align col s4 push-s4" src="bird.svg" alt="Kuş">
        </div>
        <div class="row">
            <h3 class="center-align result" v-bind:title="translate(message)" v-if="message">{{translate(message)}}</h3>
            <h3 class="center-align notext write-something" v-bind:title="write_something" v-if="!message">
                {{write_something}}
            </h3>
        </div>
        <div class="row">
            <div class="input-field input-blue">
                <input id="message-input" v-bind:title="'Yazı yazın'" v-model="message" class="message-input"
                    type="text" autocomplete="off">
                <label for="message-input" class="active">Yazı</label>
            </div>
            <div class="copy " v-bind:title="'Kopyala'">
                <button v-on:click="copy(translate(message))"
                    class="btn btn-flat btn-large blue white-text waves-effect waves-light col s12">Kopyala</button>
            </div>
        </div>
        <div class="row">
            <h6 class="center-align ">
                Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
                    href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
            </h6>
        </div>

        <div id="alert" class="alert m-3" onclick="this.style.display='none';">
            <h5 class="alerttxt">
                Başarıyla kopyalandı
            </h5>
        </div>

        <!--VueJS-->
        <script src="vue.min.js"></script>
        <!--Materialize CSS Scripts and JQuery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <!--main.js-->
        <script src="main.js"></script>
</body>

</html>
