$black: #191b1c;
$grey: #323638;
$lgrey: #eee;

html {
    scroll-behavior: smooth;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $black;
}

::selection {
    background: $black;
    color: white;
}

.intro {
    height: 100vh;
    .video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: none;
    }
    .wannascroll {
        width: 25%;
        height: 10vh;
        background: white;
        text-align: center;
        position: fixed;
        top: 1%;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        pointer-events: none;
        div {
            width: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        p {
            font-size: 20pt;
        }
    }
    .title {
        position: absolute;
        opacity: 0.25;
        font-weight: bolder;
        right: 0;
        bottom: 0;
        font-size: 50pt;
        color: white;
    }
    .skip,
    .goback {
        position: absolute;
        opacity: 0;
        pointer-events: none;
        left: 1%;
        bottom: 1%;
    }
    .goback {
        bottom: -99%;
    }
}

.container {
    height: 100vh;
    .row {
        padding-top: 50%;
        transform: translateY(-50%);
        .title {
            font-size: 50pt;
        }
        .btn {
            transform: translateY(10%);
        }
    }
}
